:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --neko-bg-color-s: rgba(63, 63, 63, 0.648);
  --neko-bg-color: rgba(45, 45, 45, 0.705);
  --neko-content-bg-color-s: rgba(17, 17, 18, 0.352);
  --neko-content-bg-color: rgba(17, 17, 18, 0.639);
  --neko-content-bg-color-solid: rgba(17, 17, 18, 1);
  --neko-main-bg-color: rgba(71, 71, 71, 0.653);
  --neko-error-bg-color: rgba(227, 35, 35, 0.509);
  --neko-warning-bg-color: rgba(255, 254, 170, 0.858);
  --neko-tab-color-s: rgba(71, 71, 77, 0.194);
  --neko-tab-color: rgba(14, 14, 16, 0.174);
  --neko-white-font-color-s: #fafafadb;
  --neko-white-font-color: #e4e4e4db;
  --neko-white-border-color: #a0a0a0db;
  --neko-grey-font-color: #898989c3;
  --neko-purple-color: rgba(181,136,233,.5);
  --neko-white-bg-color: #fafafa27;
  --neko-white-bg-color-s: #fafafa30;

  --vi-font-color: #e4e4e4db;
  --vi-link-color: #fafafadb;
  --vi-icon-color: #898989c3;
  --vi-background-color-deepest: rgba(17, 17, 18, 0.352);
  --vi-background-color-deeper: rgba(17, 17, 18, 0.352);
  --vi-background-color-deep: rgba(17, 17, 18, 0.639);
  --vi-bg-color-deepest-alpha: rgba(17, 17, 18, 0.352);
  --vi-bg-color-deeper-alpha: rgba(17, 17, 18, 0.352);
  --vi-bg-color-deep-alpha: rgba(17, 17, 18, 0.639);
  --vi-background-color-middle: rgba(0, 10, 32, 0.1);
  --vi-background-color: rgba(71, 71, 71, 0.653);
  --vi-background-color-solid: rgba(17, 17, 18, 1);
  --vi-border-color: #a0a0a0db;
  --vi-background-color-base: rgba(14, 14, 16, 0.174);
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0;
  margin: 0;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: none;
}

p {
  color: var(--neko-white-font-color);
}

#app {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('./bg.png') center no-repeat;
  background-size: cover;
}

.vi-message {
  --vi-background-color-deep: var(--neko-content-bg-color-solid);
  --vi-info-background-color: var(--neko-white-font-color);
}

.vi-dialog {
  --vi-dialog-background-color: #9d2eda11;
}